<!DOCTYPE html>
<html>
  <head>
    <title>KWKtravelz</title>
  </head>
  <body>
 <img src="https://document-export.canva.com/DAC_NuiJHZs/54/preview/0001-1626973602.png">
 </head>
 
 <style>
  img{
    width: 1265px;
    height: 500px;
  }

  .food{
    display: inline-block;
    width: 600px;
  }
  .attraction{
    display: inline-block;
    width: 600px;
  }
</style>

<img src="https://document-export.canva.com/DAC_PH7Ww5E/24/preview/0001-1630545534.png">
 </head>
 
 <style>
  img{
    width: 1265px;
    height: 500px;
  }

  .food{
    display: inline-block;
    width: 600px;
  }
  .attraction{
    display: inline-block;
    width: 600px;
  }
</style>


