 <!DOCTYPE html>
<html>
  <head>
    <title>KWKtravelz</title>
  </head>
  <body>
 <img src="https://document-export.canva.com/DAC_NuiJHZs/54/preview/0001-1626973602.png">
 </head>
 
 <style>
  img{
    width: 1265px;
    height: 500px;
  }
  body{
  font-family: "Goudy Bookletter 1911", monospace;
}

  .food{
    display: inline-block;
    width: 600px;
  }
  .attraction{
    display: inline-block;
    width: 600px;
  }
</style>

<img src="https://document-export.canva.com/DAC_PH7Ww5E/24/preview/0001-1630545534.png">
 </head>
 
 <style>
  img{
    width: 1265px;
    height: 500px;
  }
  

  .food{
    display: inline-block;
    width: 600px;
  }
  .attraction{
    display: inline-block;
    width: 600px;
  }
      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
   li {
         display: inline-block;
   }
   
   body {
     background-image: url ("https://document-export.canva.com/DAC_Tp238RM/4/preview/0001-1630782928.png");
   }

</style>

<!DOCTYPE html>
<html>
  <head>
    <title>KWKtravelz</title>
  </head>
  <body>

  </body>
  <h2><center>The following cities all house Kode with Klossy camps! Click the one you're heading to and check out popular eats and attractions! </h2></center>
  <h2><center>
    <ul>
      <li> <a href = "/raleigh">Raleigh,NC</a> 
      </li>
      <li> <a href = "/miami">Miami,FL</a>
      </li>
      <li> <a href = "/LA">Los Angeles,CA</a> 
      </li>
      <li> <a href = "/seattle">Seattle,WA</a> 
      </li>
      <li> <a href = "/chicago">Chicago,IL</a> 
      </li>
      <li> <a href = "/nyc">New York City,NY</a> 
      </li>
    </ul>
    </h2>  </center>

            
</html>


